.Header__ {
	background-color: #0b1f3a;
	font-family: var(--custom-font);
	grid-area: header;
	padding-left: 16px;
	padding-top: 32px;
	text-shadow: 2px 1px 2px #000;
}

.Header__ a {
	color: #bdbdbd;
}
