.app__main {
	background-color: #102541;
	grid-area: main;
	height: calc(100vh - 120px);
	overflow: auto;
}

.note__list {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

.note__ {
	--note-height: 88px;
	background-color: hsl(215, 94%, 6%);
	color: #cacaca;
	height: var(--note-height);
	margin-bottom: 8px;
	max-width: 380px;
	padding: 8px 0 8px 8px;
	position: relative;
	text-align: start;
}

.note__title {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 20px;
	margin: 0;
	max-width: 80%;
	min-height: 18px;
}
.note__title a {
	color: hsl(0, 0%, 79%);
	display: block;
	text-decoration: none;
}
.note__title a:hover {
	cursor: pointer;
	color: hsl(0, 30%, 54%);
}
.note__dates {
	bottom: 8px;
	color: #a7a5a5;
	font-size: 14px;
	position: absolute;
}
.note__content {
	background-color: white;
}
.note__delete {
	--note-button-height: 32px;
	background-color: hsl(216, 87%, 12%);
	border: 0;
	color: #bdbcbc;
	float: right;
	font-size: 12px;
	height: var(--note-button-height);
	position: relative;
	top: calc((var(--note-button-height) + 32px) * -1);
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: var(--note-height);
}
.note__delete:hover {
	cursor: pointer;
}
.add__note__container {
	max-width: 380px;
	background-color: hsl(215, 94%, 6%);
}
.add__note__link {
	color: hsl(0, 30%, 54%);
	display: block;
	text-decoration: none;
	margin: auto;
}
.add__note__link:hover {
	cursor: pointer;
}
